@using ProyectoFinalLenguajes.Utilities
@model List<Order>

<div>

    <div class="container">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Order List</h2>
            </div>

            @* <div class="col-6 text-end">
                <a asp-controller="Order" asp-action="Upsert" class="btn btn-outline-primary m-1">
                    <i class="bi bi-plus-circle m-1"></i>
                    New Order
                </a>
            </div> *@
        </div>
    </div>

    <table class="table table-striped" id="tblData"
           data-ontime="@StaticValues.OnTimeOrder"
           data-overtime="@StaticValues.OvertimeOrder"
           data-late="@StaticValues.LateOrder"
           data-delivered="@StaticValues.DeliveredOrder"
           data-nulled="@StaticValues.NulledOrder">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Ordered Dishes</th> 
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

    <div class="row w-100 justify-content-center">
        <div class="card border-primary shadow-md rounded-4 p-4 mt-0" style="width:90%; max-width: 400px;">
            <div class="card-body text-center">
                <h4>Last order delivered:</h4>
                <div id="lastOrder" class="input-group justify-content-center align-content-center">

                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/order.js" asp-append-version="true"></script>
}